@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
}


:root {

    /* Color Palette */
    --orange-400: hsl(12, 88%, 59%);
    --blue-950: hsl(228, 39%, 23%);
    --gray-950: hsl(233, 12%, 13%);
    --orange-50: hsl(13, 100%, 96%);
    --gray-50: hsl(0, 0%, 98%);

    /* Font Sizes */
    --font-size: 16px;
}

body {
    background-color: var(--gray-50);
    color: var(--gray-950);
    font-size: var(--font-size);
}

a{
    color: var(--gray-950);

} 

.max {
    max-width: 1440px;
    /* margin: 0 auto; */
}

header {
    /* width: 100%; */
    height: 150px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
    /* justify-content: space-between; */
}


header .max {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .max nav {
  display: flex;
}

header .max nav a {
    text-decoration: none;
    color: var(--gray-950);
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0 15px;
}

#btn {
    text-decoration: none;
    color: var(--gray-50);
    background-color: var(--orange-400);
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
}

#landing .max {
    display: flex;
}

#landing  .descrip {
    width: 400px;
    margin-right: 80px;
   
}

#landing .descrip h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--blue-950);
}

#landing .descrip h3 {
    color:  hsl(229, 4%, 51%);
    font-weight: lighter;
}

#landing .intro {
    width: 50%;
}

#container {
    margin: 80px 80px;
}

.btn2 {
    margin-top: 40px;
}


#differential .max {
    display: flex;
    margin: 90px 100px;
    /* align-items: center;
    justify-content: space-around; */
}

#differential  .descrip {
    width: 40%;
    margin-right: 80px;

}

/* #differential  .list ul li {
    font-size: xx-small;
} */

#differential .descrip h3 {
    font-weight: 400;
    margin-bottom: 60px;
    padding-right: 20px;
    color:  hsl(229, 4%, 51%);
}

#differential  .descrip h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--blue-950);
}


#differential  .list {
    width: 50%;
}

#differential .list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#differential .list ul li {
    width: calc(100% - 60px);
    /* font-size: ; */
    display: flex;
    /* align-items: initial; */
    justify-content:center;
    gap: 20px;
    margin-bottom: 40px;
}

#differential .list ul span {
  display: flex; 
  width: 50px;  
  height: 30px;
  background-color: var(--orange-400);
  color: white;
  border-radius: 30px;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* prevents it from shrinking */
  font-weight: 600;
}


#differential .list ul li .para {
    font-size: 1.2rem;
    margin-top: 10px;
    color:  hsl(229, 4%, 51%);
    font-weight: lighter;
}

#differential .list ul li h4 {
        color: var(--blue-950);

}